@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header {
    background-image: linear-gradient(to right,  #766dff, #88f3ff);
}
nav {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    padding: 30px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav .menu {
    width: 50%;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}
a:not(.logo > a):hover {
    border-bottom: 2px solid white;
}
.intro {
    position: relative;
    bottom: -170px;
    min-height: 700px;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0px 125px;
    box-sizing: border-box;
    box-shadow:  0px 20px 80px 2px rgba(153, 153, 153, 0.3);
}
.img-profile img {
    padding-right: 125px;
}
.intro-detail {
    flex: 1;
    width: 100%;
    text-align: left;
    margin-left: 30px;
}
.intro-detail h1 {
    font-size: 48px;
    margin-bottom: 30px;
}

.intro-detail h2, .intro-detail h3 {
    margin-bottom: 25px;
}
.intro-detail p {
    margin-bottom: 40px;
}
.info-list {
    display: flex;
    align-items: center;
    color: #777;
    margin-bottom: 10px;
}
.icon{
    color: #766dff;
    margin-right: 15px;
}
.profile-link i {
    color: #000;
    font-size: 50px;
    margin-top: 20px;
    margin-right: 20px;
}
.profile-link i:hover{
    color: #766dff;
}

.margin-section {
    margin: 50px 125px;
}
.h2-title {
    font-size: 44px;
    color: #3e64ff;
}
p {
    font-size: 18px;
    color: #777;
    text-align: justify;
}
hr {
    margin: 0px 125px;
    border: 1px solid rgba(153, 153, 153, 0.3);
}
.education{
    margin-top: 250px;
}
.education span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #3e64ff;
    padding-bottom: 10px;
}
.education h3, .skill h3 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 10px;
}
.education h4 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}
.skill p {
    padding-bottom: 10px;
}
.portfolio-item {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow:  3px 2px 8px rgba(153, 153, 153, 0.3);
    padding: 10px;
}
.portfolio-list {
    display: flex;
    justify-content: space-around;
}

.portfolio img {
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    text-align: center;
    display: block;
    margin: 15px auto;
    object-fit: cover;
    
}
.h3-title {
    text-align: center;
    color: #3e64ff;
    padding-bottom: 15px;
}
.portfolio img:hover {
    box-shadow:  10px 5px 5px rgba(153, 153, 153, 0.3);
}





